/.idea
/.vscode
/vendor/
/storage/*
!/storage/app/public/
!/storage/*/.gitkeep
!/storage/*/*/.gitkeep
/erpgo-desktop-app/
# Other Laravel ignores
.phpunit.result.cache
/public/hot
/public/storage
/storage/logs/*
/bootstrap/cache/*
